MONGO_DB_URI=mongodb+srv://<user>:<password>@cluster0.cegpsmq.mongodb.net/
MONGO_DB_NAME=database_name_here

FIREBASE_API_KEY=firebase_api_key_here


AZURE_CONNECTION_STRING="UseDevelopmentStorage=true"

# AZURE_CONNECTION_STRING=
