MONGO_DB_URI=mongodb+srv://<user>:<password>@cluster0.cegpsmq.mongodb.net/
MONGO_DB_NAME=<mogodb_database_name>

FIREBASE_API_KEY=<firebase_api_key_here>
FIREBASE_AUTH_DOMAIN=<app_name>.firebaseapp.com
FIREBASE_PROJECT_ID=<app_name>
FIREBASE_STORAGEBUCKET=<app_name>.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

AZURE_CONNECTION_STRING="UseDevelopmentStorage=true"

# AZURE_CONNECTION_STRING=


JCLOUD_PORT=