MONGO_DB_URI=mongodb+srv://<user>:<password>@cluster0.cegpsmq.mongodb.net/
MONGO_DB_NAME=database_name_here

FIREBASE_API_KEY=firebase_api_key_here
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGEBUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

AZURE_CONNECTION_STRING="UseDevelopmentStorage=true"

# AZURE_CONNECTION_STRING=
